<section class="cleaners">
  <div class="wrapper">
    <div class="cleaners__inner">
      <h5 class="cleaners__title section-title">Meet our cleaners</h5>
      <div class="cleaners__wrapper">
        <div class="cleaners__info">
          <h6 class="cleaners__headline">Our Team</h6>
          <p>
            In the vibrant cityscape of Toronto and the Greater Toronto Area (GTA), our esteemed team of seasoned
            cleaners
            stands as
            a testament to trustworthiness, expertise, and collaborative excellence in the realm of cleaning services.
            With years of
            collective experience, our professionals have honed their skills and work seamlessly together, ensuring a
            level of
            precision and reliability that sets us apart. We take immense pride in the trust you place in us to care for
            your home,
            treating it with the same level of diligence and respect as we would our own. Our commitment to delivering
            top-notch
            cleaning services extends beyond merely maintaining spaces
          </p>
          <p>
            Our team is committed to ensuring your space gleams with cleanliness, leaving you with peace of mind and a
            fresh
            environment.
          </p>
          <p>
            When you welcome our cleaning team into your home or office, rest assured that we treat your space with the
            same level
            of care and attention as if it were our own. Your satisfaction is our priority, and our longstanding
            commitment to
            excellence is a testament to the reliability and proficiency of our trusted team.
          </p>
        </div>
        <ul class="cleaners__list">
          <li class="cleaners__item">
            <img src="../img/general/team1.jpg" alt="photo team people">
          </li>
          <li class="cleaners__item cleaners__hide">
            <img src="../img/general/team2.jpg" alt="photo team people">
          </li>
          <li class="cleaners__item cleaners__hide">
            <img src="../img/general/team3.jpg" alt="photo team people">
          </li>
          <li class="cleaners__item cleaners__hide">
            <img src="../img/general/team4.jpg" alt="photo team people">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>