<section class="clean">
  <div class="wrapper">
    <div class="clean__inner">
      <h5 class="clean__title section-title">How we clean</h5>

      <div class="swiper">

        <div class="swiper-button-prev">
          <svg width="30" height="30" aria-label="slider arrow left">
            <use class="icon__crose" href="../img/icons/sprite.svg#icon-arrow-left-icon"></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg width="30" height="30" aria-label="slider arrow right">
            <use class="icon__crose" href="../img/icons/sprite.svg#icon-arrow-right-icon"></use>
          </svg>
        </div>
        <div class="slider__slider swiper-wrapper">
          <div class="slider__review swiper-slide">
            <div class="clean__slider-wrapper">
              <p>Kitchen</p>
              <div class="clean__swiper-img">
                <img src="../img/general/slider1.png" alt="our works photo">
              </div>
            </div>
          </div>
          <div class="slider__review swiper-slide">
            <div class="clean__slider-wrapper">
              <p>Bathroom</p>
              <div class="clean__swiper-img">
                <img src="../img/general/slider2.png" alt="our works photo">
              </div>
            </div>
          </div>
          <div class="slider__review swiper-slide">
            <div class="clean__slider-wrapper">
              <p>Living room</p>
              <div class="clean__swiper-img">
                <img src="../img/general/slider3.png" alt="our works photo">
              </div>
            </div>
          </div>
          <div class="slider__review swiper-slide">
            <div class="clean__slider-wrapper">
              <p>Bad room</p>
              <div class="clean__swiper-img">
                <img src="../img/general/slider4.png" alt="our works photo">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>