</main>

<footer class="footer">
	<div class="wrapper">
		<div class="footer__inner">
			<div class="footer__subscription">
				<strong class="footer__slogan">Subscription for weekly cleaning</strong>
				<div class="footer__subscr">
					<p class="footer__subscr-text">
						Subscription for weekly cleaning, get the best price and enjoy the cleanliness of your home!
					</p>
					<a href="#" class="footer__subscr-btn">Request service</a>
				</div>
			</div>
			<div class="footer__info">
				<div class="footer__text">
					<div class="footer__text-inf">
						<h6 class="footer__text-headline">ATOM Cleaning Services</h6>
						<p>
							Say goodbye to the hassle of cleaning chores! Let Fresh Start cleaning services illuminate your spaces
							with cleanliness,
							leaving you with more time to focus on what truly matters.
							Contact us today for a quote and experience the joy of coming home to a spotless sanctuary!
						</p>
					</div>
					<ul class="footer__social">
						<li class="footer__item">
							<a href="#">
								<svg width="40" height="40" aria-label="icon link facebook">
									<use class="header__phone-icon" href="../img/icons/sprite.svg#icon-facebook-icon"></use>
								</svg>
							</a>
						</li>
						<li class="footer__item">
							<a href="#">
								<svg width="40" height="40" aria-label="icon link instagram">
									<use class="header__phone-icon" href="../img/icons/sprite.svg#icon-instagram-icon"></use>
								</svg>
							</a>
						</li>
						<li class="footer__item">
							<a href="#">
								<svg width="40" height="40" aria-label="icon link whatsup">
									<use class="header__phone-icon" href="../img/icons/sprite.svg#icon-whatsapp-icon"></use>
								</svg>
							</a>
						</li>
						<li class="footer__item">
							<a href="#">
								<svg width="40" height="40" aria-label="icon link telegram">
									<use class="header__phone-icon" href="../img/icons/sprite.svg#icon-telegram-icon"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>
				<div class="footer__menu">
					<h6 class="footer__menu-headline">
						Services:
					</h6>
					<ul class="footer__menu">
						<li class="footer__menu-item"><a href="#">General</a></li>
						<li class="footer__menu-item"><a href="#">Airbnb</a></li>
						<li class="footer__menu-item"><a href="#">Office</a></li>
						<li class="footer__menu-item"><a href="#">Move in Move out</a></li>
						<li class="footer__menu-item"><a href="#">Deep Cleaning</a></li>
						<li class="footer__menu-item"><a href="#">Construction cleaning</a></li>
						<li class="footer__menu-item"><a href="#">Other</a></li>
					</ul>
				</div>
				<div class="footer__contacts">
					<h6 class="footer__contacts-headline">Contacts:</h6>
					<ul class="footer__contacts-list">
						<li class="footer__contacts-item">
							<a href="#">
								<svg width="36" height="36" aria-label="icon link adress">
									<use class="footer__social-icon" href="../img/icons/sprite.svg#icon-location-icon"></use>
								</svg>
								209 Route 201418 Rigaud QC J0P 1P0 Canada
							</a>
						</li>
						<li class="footer__contacts-item">
							<a href="mailto:mail@mail.com">
								<svg width="36" height="36" aria-label="icon link email">
									<use class="footer__social-icon" href="../img/icons/sprite.svg#icon-mail-icon"></use>
								</svg>
								mail@mail.com</a>
						</li>
						<li class="footer__contacts-item">
							<a href="tel:mail@mail.com">
								<svg width="36" height="36" aria-label="icon link phone">
									<use class="footer__social-icon" href="../img/icons/sprite.svg#icon-mobile-icon"></use>
								</svg>
								mail@mail.com
							</a>
						</li>
						<li class="footer__contacts-item">
							<svg width="36" height="36" aria-label="icon  time">
								<use class="footer__social-icon" href="../img/icons/sprite.svg#icon-time-icon"></use>
							</svg>
							mail@mail.com
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="js/libs/jquery-3.6.0.min.js"></script>