</main>

<footer class="footer">
	<div class="wrapper">
		<div class="footer__inner">
			<div class="footer__subscription">
				<strong class="footer__slogan">Subscription for weekly cleaning</strong>
				<div class="footer__subscr">
					<p class="footer__subscr-text">
						Subscription for weekly cleaning, get the best price and enjoy the cleanliness of your home!
					</p>
					<a href="#" class="footer__subscr-btn">Request service</a>
				</div>
			</div>
			<div class="footer__info">
				<div class="footer__text footer__hide">
					<div class="footer__text-inf ">
						<h6 class="footer__text-headline">ATOM Cleaning Services</h6>
						<p>
							Say goodbye to the hassle of cleaning chores! Let Fresh Start cleaning services illuminate your spaces
							with cleanliness,
							leaving you with more time to focus on what truly matters.
							Contact us today for a quote and experience the joy of coming home to a spotless sanctuary!
						</p>
					</div>
					<ul class="footer__social">
						<li class="footer__item">
							<a href="#">
								<img src="../img/icons/facebook-icon.svg" width="40" height="40" alt="facebook icon">
							</a>
						</li>
						<li class="footer__item">
							<a href="#">
								<img src="../img/icons/instagram-icon.svg" width="40" height="40" alt="instagram icon">
							</a>
						</li>
						<li class="footer__item">
							<a href="#">
								<img src="../img/icons/whatsapp-icon.svg" width="40" height="40" alt="whatsup icon">
							</a>
						</li>
						<li class="footer__item">
							<a href="#">
								<img src="../img/icons/telegram-icon.svg" width="40" height="40" alt="telegram icon">
							</a>
						</li>
					</ul>
				</div>
				<div class="footer__menu footer__hide">
					<h6 class="footer__menu-headline">
						Services:
					</h6>
					<ul class="footer__menu">
						<li class="footer__menu-item"><a href="#">General</a></li>
						<li class="footer__menu-item"><a href="#">Airbnb</a></li>
						<li class="footer__menu-item"><a href="#">Office</a></li>
						<li class="footer__menu-item"><a href="#">Move in Move out</a></li>
						<li class="footer__menu-item"><a href="#">Deep Cleaning</a></li>
						<li class="footer__menu-item"><a href="#">Construction cleaning</a></li>
						<li class="footer__menu-item"><a href="#">Other</a></li>
					</ul>
				</div>
				<a href="#" class="footer__logo">
					<img src="../img/general/logo__footer.png" alt="logotype" width="231" height="121">
				</a>
				<div class="footer__contacts">
					<h6 class="footer__contacts-headline">Contacts:</h6>
					<ul class="footer__contacts-list">
						<li class="footer__contacts-item">
							<a href="#">
								<img src="../img/icons/location-icon.svg" width="36" height="36" alt="location icon">
								209 Route 201418 Rigaud QC J0P 1P0 Canada
							</a>
						</li>
						<li class="footer__contacts-item">
							<a href="mailto:mail@mail.com">
								<img src="../img/icons/mail-icon.svg" width="36" height="36" alt="mail icon">
								mail@mail.com</a>
						</li>
						<li class="footer__contacts-item">
							<a href="tel:mail@mail.com">
								<img src="../img/icons/mobile-icon.svg" width="36" height="36" alt="mobile icon">
								mail@mail.com
							</a>
						</li>
						<li class="footer__contacts-item">
							<img src="../img/icons/time-icon.svg" width="36" height="36" alt="time icon">
							mail@mail.com
						</li>
					</ul>
				</div>
				<ul class="footer__social footer__mobile">
					<li class="footer__item">
						<a href="#">
							<img src="../img/icons/facebook-icon.svg" width="40" height="40" alt="facebook icon">
						</a>
					</li>
					<li class="footer__item">
						<a href="#">
							<img src="../img/icons/instagram-icon.svg" width="40" height="40" alt="instagram icon">
						</a>
					</li>
					<li class="footer__item">
						<a href="#">
							<img src="../img/icons/whatsapp-icon.svg" width="40" height="40" alt="whatsup icon">
						</a>
					</li>
					<li class="footer__item">
						<a href="#">
							<img src="../img/icons/telegram-icon.svg" width="40" height="40" alt="telegram icon">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<script src="js/libs/jquery-3.6.0.min.js"></script>