<section class="hero">
  <div class="hero__img">
    <img src="../img/general/hero.jpg" alt="photo cleaning process">
  </div>
  <div class="mobile__wrap">
    <ul class="mobile__menu">
      <li class="mobile__menu-item">
        <a href="#">Services</a>
      </li>
      <li class="mobile__menu-item">
        <a href="#">Our Teem</a>
      </li>
      <li class="mobile__menu-item">
        <a href="#">Location</a>
      </li>
      <li class="mobile__menu-item">
        <a href="#">Contact Us</a>
      </li>
    </ul>
  </div>
  <div class="wrapper">
    <div class="hero__inner">
      <div class="hero__info">
        <h1 class="hero__title">
          ATOM
          <p class="hero__text">
            Cleaning Services
            <span>Your trusted cleaning partner</span>
          </p>
        </h1>

        <button class="hero__btn">Get a Quate</button>
      </div>
    </div>
  </div>
</section>