<section class="about-works">
  <div class="wrapper">
    <div class="about-works__inner">
      <h2 class="about-works__title section-title">How it works</h2>
      <ul class="about-works__list">
        <li class="about-works__item">
          <div class="about-works__img">
            <img src="../img/general/works1.jpg" width="310" height="310" alt="photo how it works">
          </div>
          <h3>A team of professionals</h3>
          <p>
            Professional cleaners know all modern methods of high-quality cleaning of various types of surfaces.
          </p>
        </li>
        <li class="about-works__item">
          <div class="about-works__img">
            <img src="../img/general/works2.jpg" width="310" height="310" alt="photo how it works">
          </div>
          <h3>Individual approach</h3>
          <p>
            We are always ready to provide a number of additional services that are not included in the standard set.
          </p>
        </li>
        <li class="about-works__item">
          <div class="about-works__img">
            <img src="../img/general/works3.jpg" width="310" height="310" alt="photo how it works">
          </div>
          <h3>Modern equipment</h3>
          <p>
            Modern methods of cleaning and professional chemistry without aggressive components.
          </p>
        </li>
        <li class="about-works__item">
          <div class="about-works__img">
            <img src="../img/general/works4.jpg" width="310" height="310" alt="photo how it works">
          </div>
          <h3>Payment</h3>
          <p>
            Price is always agreed before we start and does not change after completion. Payment when work is completed.
          </p>
        </li>
      </ul>
      <div class="swiper about-works">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide about-works__item">
            <div class="about-works__img">
              <img src="../img/general/works1.jpg" width="310" height="310" alt="photo how it works">
            </div>
            <h3>A team of professionals</h3>
            <p>
              Professional cleaners know all modern methods of high-quality cleaning of various types of surfaces.
            </p>
          </div>
          <div class="swiper-slide about-works__item">
            <div class="about-works__img">
              <img src="../img/general/works2.jpg" width="310" height="310" alt="photo how it works">
            </div>
            <h3>Individual approach</h3>
            <p>
              We are always ready to provide a number of additional services that are not included in the standard set.
            </p>
          </div>
          <div class="swiper-slide about-works__item">
            <div class="about-works__img">
              <img src="../img/general/works3.jpg" width="310" height="310" alt="photo how it works">
            </div>
            <h3>Modern equipment</h3>
            <p>
              Modern methods of cleaning and professional chemistry without aggressive components.
            </p>
          </div>
          <div class="swiper-slide about-works__item">
            <div class="about-works__img">
              <img src="../img/general/works4.jpg" width="310" height="310" alt="photo how it works">
            </div>
            <h3>Payment</h3>
            <p>
              Price is always agreed before we start and does not change after completion. Payment when work is
              completed.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>