<section class="map">
  <div class="wrapper">
    <div class="map__inner">
      <h6 class="map__title section-title">Service Map</h6>
      <div class="map__wrapper">
        <div class="map__img">
          <img src="../img/general/map.png" alt="map photo">
        </div>
        <div class="map__info">
          <h6 class="map__headline">Location of our service</h6>
          <p>
            Discover the neighborhoods we serve.
            We Clean, You Relax – A Spotless Impact!
          </p>
          <ul class="map__list">
            <li class="map__item">
              <strong>Contact us: </strong>
              <span>+1-416-123-4567</span>
            </li>
            <li class="map__item">
              <strong>Cleaning hours:</strong>
              <span>Monday - Friday 9 am to 6 pm</span>
            </li>
            <li class="map__item">
              <strong>Office hours:</strong>
              <span>Monday - Friday 9 am to 6 pm</span>
            </li>
            <li class="map__item">
              <strong>Online booking:</strong>
              <span>24/7</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>