<section class="reviews">
  <div class="wrapper">
    <div class="reviews__inner">
      <h6 class="reviews__title section-title">Reviews</h6>
      <div class="swiper reviews__swiper">

        <div class="slider__slider swiper-wrapper">
          <div class="slider__review swiper-slide">
            <h6 class="reviews__headline">
              Friendly, flexible, and flawless cleaning!
            </h6>
            <p class="reviews__text">
              Fresh Start saved the day when I needed a last-minute cleaning before hosting a family event. Not only
              were they able to
              accommodate my tight schedule, but their friendly and professional team also delivered exceptional
              results. They were
              thorough in their cleaning, leaving no corner untouched. What truly impressed me was their flexibility
              and
              willingness
              to customize the service based on my specific needs.
            </p>
            <div class="reviews__client">
              <div class="reviews__photo">
                <img src="../img/general/slider-kelly.png" alt="Kelly Dail client photo ">
              </div>
              <div class="reviews__feedback">
                <span class="reviews__name">Kelly Dail</span>
                <ul class="reviews__list">
                  <li class="reviews__item">
                    <svg width="24" height="24" aria-label="star photo with client feedback">
                      <use class="icon__crose" href="../img/icons/sprite.svg#icon-star-icon"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <svg width="24" height="24" aria-label="star photo with client feedback">
                      <use class="icon__crose" href="../img/icons/sprite.svg#icon-star-icon"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <svg width="24" height="24" aria-label="star photo with client feedback">
                      <use class="icon__crose" href="../img/icons/sprite.svg#icon-star-icon"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <svg width="24" height="24" aria-label="star photo with client feedback">
                      <use class="icon__crose" href="../img/icons/sprite.svg#icon-star-icon"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <svg width="24" height="24" aria-label="star photo with client feedback">
                      <use class="icon__crose" href="../img/icons/sprite.svg#icon-star-icon"></use>
                    </svg>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="slider__review swiper-slide">
            <h6 class="reviews__headline">
              Friendly, flexible, and flawless cleaning!
            </h6>
            <p class="reviews__text">
              Fresh Start saved the day when I needed a last-minute cleaning before hosting a family event. Not only
              were they able to
              accommodate my tight schedule, but their friendly and professional team also delivered exceptional
              results. They were
              thorough in their cleaning, leaving no corner untouched. What truly impressed me was their flexibility
              and
              willingness
              to customize the service based on my specific needs.
            </p>
            <div class="reviews__client">
              <div class="reviews__photo">
                <img src="../img/general/slider-arlene.png" alt="Arlene client photo ">
              </div>
              <div class="reviews__feedback">
                <span class="reviews__name">Arlene Wagner</span>
                <ul class="reviews__list">
                  <li class="reviews__item">
                    <svg width="24" height="24" aria-label="star photo with client feedback">
                      <use class="icon__crose" href="../img/icons/sprite.svg#icon-star-icon"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <svg width="24" height="24" aria-label="star photo with client feedback">
                      <use class="icon__crose" href="../img/icons/sprite.svg#icon-star-icon"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <svg width="24" height="24" aria-label="star photo with client feedback">
                      <use class="icon__crose" href="../img/icons/sprite.svg#icon-star-icon"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <svg width="24" height="24" aria-label="star photo with client feedback">
                      <use class="icon__crose" href="../img/icons/sprite.svg#icon-star-icon"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <svg width="24" height="24" aria-label="star photo with client feedback">
                      <use class="icon__crose" href="../img/icons/sprite.svg#icon-star-icon"></use>
                    </svg>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="slider__review swiper-slide">
            <h6 class="reviews__headline">
              Subscription for weekly cleaning
            </h6>
            <p class="reviews__text">
              I've been using Fresh Start for regular bi-weekly cleanings, and I couldn't be happier with their
              services. The cleaning
              crew is always punctual, and they work efficiently to get the job done without compromising on quality.
              They are thorough in their cleaning, and I've noticed a significant improvement in the overall
              cleanliness
              of my home
              since hiring them. I appreciate the reliability and professionalism of cleaning service.
            </p>
            <div class="reviews__client">
              <div class="reviews__photo">
                <img src="../img/general/slider-beth.png" alt="Beth Vastardis client photo ">
              </div>
              <div class="reviews__feedback">
                <span class="reviews__name">Beth Vastardis</span>
                <ul class="reviews__list">
                  <li class="reviews__item">
                    <svg width="24" height="24" aria-label="star photo with client feedback">
                      <use class="icon__crose" href="../img/icons/sprite.svg#icon-star-icon"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <svg width="24" height="24" aria-label="star photo with client feedback">
                      <use class="icon__crose" href="../img/icons/sprite.svg#icon-star-icon"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <svg width="24" height="24" aria-label="star photo with client feedback">
                      <use class="icon__crose" href="../img/icons/sprite.svg#icon-star-icon"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <svg width="24" height="24" aria-label="star photo with client feedback">
                      <use class="icon__crose" href="../img/icons/sprite.svg#icon-star-icon"></use>
                    </svg>
                  </li>
                  <li class="reviews__item">
                    <svg width="24" height="24" aria-label="star photo with client feedback">
                      <use class="icon__crose" href="../img/icons/sprite.svg#icon-star-icon"></use>
                    </svg>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-button-prev">
        <svg width="30" height="30" aria-label="slider arrow left">
          <use class="icon__crose" href="../img/icons/sprite.svg#icon-arrow-left-icon"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg width="30" height="30" aria-label="slider arrow right">
          <use class="icon__crose" href="../img/icons/sprite.svg#icon-arrow-right-icon"></use>
        </svg>
      </div>
    </div>
  </div>
</section>