@import "../core";

.clean {
  padding-top: 70px;
  padding-bottom: 60px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include minw($lg-custom) {
      display: none;
    }
  }

  &__item {
    p {
      margin-bottom: 5px;
      font-family: Kalam;
      font-size: 22px;
      font-weight: 400;
      text-align: center;
      color: $colorGray;
    }
  }

  .swiper.clean__swiper {
    display: none;

    @include minw($lg-custom) {
      display: block;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    @extend %absVertAlign;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.10));
    z-index: 2;
  }

  .swiper-button-prev {
    left: 35px;
  }

  .swiper-button-next {
    right: 35px;
  }

  &__inner {
    position: relative;
  }

  &__title {
    margin-bottom: 42px;
  }

  &__slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 40px;
      font-weight: 400;
      font-family: Kalam, sans-serif;
      color: #594c42;
    }
  }

  &__swiper-img {
    max-height: 866px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}