@import "../core";

.contacts {
  &__inner {
    position: relative;
  }

  &__img {
    max-width: 315px;
    width: 100%;
    position: absolute;
    top: -165px;
    left: 50%;
    border-radius: 40px;
    overflow: hidden;
    z-index: 2;
    transform: translateX(-50%);

    @include minw($lg-custom) {
      max-width: 1302px;
      top: -45px;
      left: 0;
      z-index: 0;
      transform: translateX(0);
    }
  }

  &__title {
    margin-bottom: 195px;

    @include minw($lg-custom) {
      margin-bottom: 118px;
    }
  }

  &__form {
    padding: 120px 16px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEE7DA;
    border-radius: 30px;

    @include minw($lg-custom) {
      max-width: 700px;
      margin-left: auto;
      margin-bottom: 190px;
      padding: 30px;
      border-radius: 40px;
    }

    input[type="text"],
    input[type="number"] {
      margin-bottom: 20px;
    }

    input[type="text"],
    input[type="number"],
    textarea {
      padding: 14px 16px;
      font-size: 20px;
      width: 100%;
      border-radius: 8px;
      border: none;

      &::placeholder {
        color: #878383;
      }
    }

    input[name="code"],
    textarea {
      margin-bottom: 36px;
    }
  }

  &__headline {
    margin-bottom: 24px;
    display: block;
    font-family: Kaisen, sans-serif;
    font-size: 36px;

    @include minw($lg-custom) {
      margin-bottom: 40px;

      font-size: 50px;
      font-weight: 400;
      text-align: center;
    }
  }

  &__questions {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0.04em;
    text-align: center;

    @include minw($lg-custom) {

      font-size: 24px;
    }
  }

  &__radio {
    max-width: 412px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__radio-btn {
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    span {
      margin-bottom: 20px;
      font-size: 24px;

      @include minw($lg-custom) {
        font-size: 30px;
      }
    }

    input {
      position: relative;
      width: 50px;
      height: 50px;
      background-clip: border-box;
      background-color: white;
      box-shadow: 0px 0px 0px 1px white;
      border: 8px solid #fff;
      appearance: none;
      transition: background-color 0.3s, box-shadow 0.3s;
      border-radius: 50%;
    }

    input:checked {
      box-shadow: 0px 0px 0px 1px white;
      background-color: black;
    }
  }

  &__text {
    margin-bottom: 12px;
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 300;
    text-align: left;

    @include minw($lg-custom) {
      margin-bottom: 16px;
      font-size: 24px;
    }
  }

  &__radio-el {
    position: relative;
    background-color: #fff;
    border-radius: 50%;


  }

  &__textarea-text {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.96px;
    font-weight: 300;

    @include minw($lg-custom) {
      font-size: 24px;
    }
  }

  &__radio-email {
    input {
      margin-left: auto;
    }
  }

  .form__btn {
    padding: 18px;
    width: 100%;
    border-radius: 15px;
    border: none;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.10);
    font-family: SFProDisplay, sans-serif;
    font-size: 22px;
    font-weight: 500;
    background-color: $colorAccentText;
    text-align: center;
  }
}