@import "../core";

.footer {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #EEE7DA;

	@include minw($lg-custom) {
		padding-top: 30px;
		padding-bottom: 133px;

		border-top: 0.5px solid #594C42;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__subscription {
		padding: 32px 16px;
		margin-top: -200px;
		margin-bottom: 56px;
		background-color: $colorAccent;
		border-radius: 12px;

		@include minw($lg-custom) {
			margin-top: -113px;
			max-width: 1365px;
			width: 100%;
			padding: 30px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__subscr {
		width: 100%;
		display: flex;
		flex-direction: column;

		@include minw($lg-custom) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 81px;
		}
	}

	&__subscr-text {
		margin-bottom: 40px;
		font-size: 16px;
		font-weight: 300;
		letter-spacing: 0.04em;
		line-height: 1.4;

		@include minw($lg-custom) {
			max-width: 772px;
			width: 100%;
			font-size: 24px;
		}
	}



	&__subscr-btn {
		padding: 14px 18px;
		font-size: 20px;
		background-color: $colorWhite;
		text-align: center;
		border: 3px solid #88AB8E;
		box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.15);
		border-radius: 16px;
		transition: color 250ms ease;

		@include minw($lg-custom) {
			padding: 18px;
			max-width: 389px;
			width: 100%;
			font-size: 22px;
			font-weight: 500;
			line-height: 1.4;
			letter-spacing: 0.66px;

		}

		&:hover {
			color: #afc8ad;
		}
	}



	&__slogan {
		display: block;
		margin-bottom: 16px;
		font-family: Kaisen, sans-serif;
		text-align: center;
		font-size: 19px;
		font-weight: 400;

		@include minw($lg-custom) {
			margin-bottom: 40px;
			font-size: 40px;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;

		@include minw($lg-custom) {
			flex-direction: row;
			align-items: baseline;
			gap: 150px;
		}
	}

	&__text-inf {
		max-width: 506px;

		p {
			margin-bottom: 20px;
			font-size: 18px;
			font-weight: 300;
			color: $colorBlack;
			line-height: 1.5;
			letter-spacing: 0.03em;
		}
	}

	&__social {
		display: flex;
		gap: 40px;

		&.footer__mobile {
			@include minw($lg-custom) {
				display: none;
			}
		}
	}

	&__text-headline {
		margin-bottom: 20px;
		font-family: Kaisen, sans-serif;
		font-size: 40px;
		font-weight: 400;
		color: #594c42;
	}

	&__menu-headline {
		margin-bottom: 30px;
		font-family: Kaisen, sans-serif;
		font-size: 30px;
		font-weight: 400;
		color: #594c42;
	}

	&__menu {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__menu-item {
		a {
			font-size: 18px;
			font-weight: 300;
			transition: color 250ms ease;

			&:hover {
				color: $colorAccent;
			}
		}
	}

	&__item {
		&:hover {
			cursor: pointer;
		}
	}

	&__contacts-headline {
		display: none;

		@include minw($lg-custom) {
			display: block;
			margin-bottom: 30px;
			font-family: Kaisen, sans-serif;
			font-size: 30px;
			font-weight: 400;
			color: #594c42;
		}
	}

	&__contacts-list {
		max-width: 368px;
		display: flex;
		flex-direction: column;
		gap: 18px;
	}

	&__contacts-item {
		display: flex;
		align-items: center;
		gap: 18px;
		font-size: 18px;
		font-weight: 300;

		a {
			display: flex;
			align-items: center;
			gap: 18px;
			font-size: 18px;
			font-weight: 300;
			transition: color 250ms ease;

			&:hover {
				color: $colorAccent;
			}
		}
	}

	&__hide {
		display: none;

		@include minw($lg-custom) {
			display: block;

		}
	}

	&__logo {
		@include minw($lg-custom) {
			display: none;

		}
	}
}