@import "../core";

.header {
	background-color: $colorHeader;
	border-bottom: 0.5px solid $colorGray;

	&__inner {
		display: flex;
		gap: 10px;
		justify-content: space-between;
		align-items: center;

	}

	&__logo {
		img {
			width: 120px;
			height: 62px;

			@include minw($lg-custom) {
				width: 244px;
				height: 116px;
			}
		}


	}

	&__list {
		display: none;


		@include minw($lg-custom) {
			display: flex;
			align-items: center;
			gap: 56px;
		}
	}

	&__item {
		a {

			font-weight: 400;
			font-family: SFProDisplay;
			color: #594C42;



			@include minw($lg-custom) {
				font-size: 34px;
			}
		}
	}

	&__phone {
		display: flex;
		align-items: center;
		gap: 12px;
		color: #594C42;

		span {
			color: #594C42;



			@include minw($lg-custom) {
				font-size: 34px;
			}
		}
	}
}