@import "../core";

.header {
	padding: 5px 0;
	background-color: $colorHeader;
	border-bottom: 0.5px solid $colorGray;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 40px;

		@include minw($lg-custom) {
			gap: 10px;
		}

	}

	&__nav {
		display: none;

		@include minw($lg-custom) {
			display: block;
		}
	}

	&__burger-btn {
		border: none;

		@include minw($lg-custom) {
			display: none;
		}
	}

	&__logo {
		img {
			width: 120px;
			height: 62px;

			@include minw($lg-custom) {
				width: 244px;
				height: 116px;
			}
		}


	}

	&__list {
		display: none;


		@include minw($lg-custom) {
			display: flex;
			align-items: center;
			gap: 56px;
		}
	}

	&__item {
		a {

			font-weight: 400;
			font-family: SFProDisplay;
			color: #594C42;



			@include minw($lg-custom) {
				font-size: 34px;
			}
		}
	}

	&__mobile-phone {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: $colorAccentText;

		@include minw($lg-custom) {
			display: none;
		}
	}

	&__phone {

		display: none;

		@include minw($lg-custom) {
			display: flex;
			align-items: center;
			gap: 12px;
			color: #594C42;
			font-size: 34px;
		}

		span {
			color: #594C42;

			@include minw($lg-custom) {
				color: #594C42;
				font-size: 34px;
			}
		}
	}
}