@import "../core";

.hero {
  padding-bottom: 30px;
  position: relative;

  @include minw($lg-custom) {
    padding-top: 195px;
    padding-bottom: 346px;
    background-image: url('../../img/cover/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__img {
    margin: 0 auto;
    max-width: 390px;
    width: 100%;
    height: 483px;

    @include minw($lg-custom) {
      display: none;
    }
  }

  &__info {
    @include minw($lg-custom) {
      margin-left: auto;
      margin-right: 140px;
      max-width: 486px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Kaisen;
    font-size: 70px;
    color: #594C42;

    @include minw($lg-custom) {
      margin-bottom: 48px;

      font-weight: 400;
      font-size: 140px;
      line-height: 0.7;

    }
  }

  &__text {
    margin-bottom: 42px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #594c42;
    font-family: Kaisen;
    font-weight: 400;
    font-size: 32px;
    text-align: center;

    @include minw($lg-custom) {
      font-size: 55px;
    }

    span {
      font-family: SFProDisplay;
      font-size: 20px;
      color: $colorAccentText;
      text-shadow: none;

      @include minw($lg-custom) {
        font-size: 34px;
      }
    }
  }

  &__btn {
    padding: 18px;
    max-width: 350px;
    width: 100%;
    font-size: 22px;
    background-color: $colorAccentText;
    border: none;
    border-radius: 16px;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.10);
    text-align: center;
    transition: background-color 250ms ease;

    &:hover {
      background-color: #afc8ad;
    }
  }
}

.mobile {
  &__wrap {
    width: 100%;
    position: absolute;
    top: -100%;
    display: flex;
    justify-content: center;
    transition: top 250ms ease;
  }

  &__menu {
    max-width: 152px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }


  &__menu-item {
    padding: 12px 30px;

    a {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.04em;
      color: #594c42;
    }

    &:nth-child(2n-1) {
      background-color: rgba(242, 241, 235, 0.8);
    }

    &:nth-child(2n) {
      background-color: rgba(238, 231, 218, 0.8);
    }
  }
}