@import "../core";

.hero {
  padding-top: 195px;
  padding-bottom: 346px;
  background-image: url('../../img/cover/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &__info {
    margin-left: auto;
    margin-right: 140px;
    max-width: 486px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Kaisen;
    font-weight: 400;
    font-size: 140px;
    line-height: 0.7;
    color: #594C42;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 55px;
    font-weight: 400;
    color: #594c42;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    span {
      font-size: 34px;
      color: $colorAccentText;
      text-shadow: none;
    }
  }

  &__btn {
    padding: 18px;
    max-width: 350px;
    width: 100%;
    font-size: 22px;
    background-color: $colorAccentText;
    border: none;
    border-radius: 16px;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.10);
    text-align: center;
  }
}