@import "../core";

.map {
  padding-top: 60px;
  padding-bottom: 31px;

  &__wrapper {
    display: flex;
    gap: 133px;
  }

  &__title {
    margin-bottom: 68px;
  }

  &__info {
    margin-top: 30px;
  }

  &__headline {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 400;

    +p {
      max-width: 459px;
      margin-bottom: 80px;
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.9px;
      line-height: 1.4;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;


  }

  &__item {

    strong,
    span {
      line-height: 1.4;
      letter-spacing: 0.96px;
      font-size: 24px;
    }

    strong {
      font-weight: 400;
    }

    span {
      font-weight: 300;
    }

    &:not(:first-child) {
      strong {
        display: block;
      }
    }
  }
}