@import "../core";

.reviews {
  padding-top: 60px;
  padding-bottom: 214px;

  &__title {
    margin-bottom: 48px;
  }

  .swiper-wrapper {
    padding: 20px 0;
    align-items: center;
  }

  &__swiper {
    display: none;

    @include minw($lg-custom) {
      display: block;
    }


  }

  .reviews-pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .swiper {
    max-width: 1385px;
  }

  .slider__review {
    width: 506px;

    padding: 40px 30px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.10);
  }

  .swiper-button-prev,
  .swiper-button-next {
    @extend %absVertAlign;
    display: none;

    @include minw($lg-custom) {

      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #fff;
      filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.10));
      z-index: 10;
    }
  }

  .swiper-button-prev {
    left: -20px;
  }

  .swiper-button-next {
    right: -20px;
  }


  .swiper-slide-active {
    min-height: 840px;
    background-color: $colorHeader;
    transform: scale(1.5);
    padding: 90px 30px;
  }

  &__headline {
    margin-bottom: 40px;
    font-family: Kaisen, sans-serif;
    font-size: 30px;
    font-weight: 400;
  }

  &__text {
    margin-bottom: 40px;

    font-size: 24px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0.04em;
  }

  &__client {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__list {
    display: flex;
    gap: 16px;
  }

  &__name {
    display: block;
    margin-bottom: 16px;
    font-family: Kaisen, sans-serif;
    font-size: 24px;
  }
}

.reviews__swiper-mobile {
  padding: 0 5px !important;

  @include minw($lg-custom) {
    padding: 0;
    display: none;
  }

  .reviews__headline {
    font-size: 24px;

    @include minw($lg-custom) {
      font-size: 30px;
    }
  }

  .reviews__name {
    font-size: 20px;

    @include minw($lg-custom) {
      font-size: 24px;
    }
  }

  .reviews__list {
    gap: 10px;

    @include minw($lg-custom) {
      gap: 16px;
    }
  }

  .reviews__photo {
    width: 80px;
    height: 80px;

    @include minw($lg-custom) {
      width: 100px;
      height: 100px;
    }
  }

  .slider__review {
    padding: 32px 16px;
    min-height: auto;
  }

  .reviews__text {
    font-size: 16px;
  }

  .swiper-slide-active {
    background-color: #fff;
  }
}